#parent {
  display: flex;
  width: 300px;

}

.CircleImage {
  vertical-align:middle;
  width: 100px;
  height: 100px;
  flex: 1;
}
.TopContainer {
  width: 100px;
  height: 100px;
  flex: 2;

}
.CardHeader {
  text-align: right;
  vertical-align:top;
  width: 100px;
  height: 90px;
  flex: 3;
}
